<div>
  <%= form_with(model: @entity, url: user_group_entities_path(current_user)) do |form| %>
    <% if entity.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

        <ul>
          <% entity.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <% form.label :name, style: "display: block" %>
      <%= form.text_field :name, class:"mx-auto w-100 p-2", placeholder: "Name" %>
    </div>

    <div>
      <% form.label :amount, style: "display: block" %>
      <%= form.text_field :amount, class:"mx-auto w-100 p-2", placeholder: "Amount" %>
    </div>

    <% if params[:format] %>
      <%= hidden_field_tag 'group_id[]', params[:format] %>
    <% else %>
    <div class="m-1">
      <%= form.label 'Category', class: "form-label text-muted" %>
      <% User.find(current_user.id).groups.each do |group| %>
        <div class="form-check">
          <%= check_box_tag 'group_id[]', group.id, false, class: "form-check-input", id: "group_#{group.id}" %>
          <%= label_tag "group_#{group.id}", group.name, class: "form-check-label text-muted", required: true %>
        </div>
      <% end %>
    </div>
  <% end %>

    <div>
      <%= form.submit class:"mx-auto w-100 p-2 btn btn-primary" %>
    </div>
  <% end %>
</div>
