<head>
  <%= stylesheet_link_tag 'navbar' %>
</head>

<nav class="bg-primary navbar navbar-expand-md">
  <div class="container-fluid">
    <%= button_tag type: 'button', class: 'navbar-toggler', data: { toggle: 'collapse', target: '#collapsibleNavbar' } do %>
      <span class="navbar-toggler-icon"></span>
    <% end %>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= button_to 'Categories', user_groups_path(current_user), method: :get, class:"nav-link active" %>
          </li>
        <li class="nav-item px-4">
          <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class:"nav-link active" %>
        </li>
       <% else %>
       <li class="nav-item px-4">
          <%= button_to 'Sign in', new_user_session_path, method: :get, class:"nav-link active" %>
        </li>
       <% end %>
      </ul>
    </div>

  </div>
</nav>