<head>
  <%= stylesheet_link_tag 'navbar' %>
</head>

  <% if user_signed_in? %>
<div class="bg-primary menu-container p-2">
  <div class="menu-toggle">
    <%= image_tag("list.svg", width:"10%")  %>
     
    <div class="page_title text-light">
    <% if current_page?(user_groups_path(current_user)) %>
      <h3>Categories</h3>
    <% else %>
      <h3>Transactions</h3>
    <% end %>
    </div>

    <nav class="menu">
      <ul class="bg-primary text-light">
          <li class="nav-item pt-4">
            <%= button_to 'Categories', user_groups_path(current_user), method: :get, class:"nav-link active text-center" %>
          </li>
        <li class="nav-item pt-4">
          <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class:"nav-link active text-center" %>
        </li>
       <% else %>
       <li class="nav-item pt-4">
          <%= button_to 'Sign in', new_user_session_path, method: :get, class:"nav-link active text-center mx-auto" %>
        </li>
       <% end %>
      </ul>
    </nav>

  </div>
</div>