<head>
  <%= stylesheet_link_tag 'navbar' %>
</head>

  <% if user_signed_in? %>
<div class="bg-primary menu-container p-2">
  <div class="menu-toggle">
    <%= image_tag("list.svg", width:"10%")  %>
     

    <% if current_page?(root_path) %>
      <h3>Categories</h3>
    <% end %>

    <nav class="menu">
      <ul class="bg-primary text-light">
          <li class="nav-item">
            <%= button_to 'Categories', user_groups_path(current_user), method: :get, class:"nav-link active text-center mx-auto" %>
          </li>
        <li class="nav-item">
          <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class:"nav-link active text-center mx-auto" %>
        </li>
       <% else %>
       <li class="nav-item">
          <%= button_to 'Sign in', new_user_session_path, method: :get, class:"nav-link active text-center mx-auto" %>
        </li>
       <% end %>
      </ul>
    </nav>

  </div>
</div>