<div class="create-group">
  <%= form_with(model: @group, url: user_groups_path) do |form| %>
    <% if group.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

        <ul>
          <% group.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <% form.label :name, style: "display: block" %>
      <%= form.text_field :name, class:"mx-auto w-100 p-2", placeholder: "Category Name" %>
    </div>

    <div>
      <% form.label :icon, style: "display: block" %>
      <%= form.text_field :icon, class:"mx-auto w-100 p-2", placeholder: "Category Icon" %>
    </div>

    <div>
      <%= form.submit class:"mx-auto w-100 p-2 btn btn-primary" %>
    </div>
  <% end %>
</div>
