<div id="<%= dom_id group %>">
  <div class="w-100 mt-2 p-2">
    <div class="d-flex group p-4">
      <%= image_tag("person-circle.svg", width: "10%")  %>
      <p class="my-auto mx-5"><%= group.name %>, <%= group.user_id %></p>
      <% group.entities.each do |entity| %>
         <%= entity.amount %>
      <% end %>
    </div>
  </div>
</div>
