<p style="color: green"><%= notice %></p>

<%= render @group %>

<div>
  <%= link_to "Edit this group", edit_user_group_path(current_user, @group) %> |
  <%= link_to "Back to groups", user_group_path(current_user) %>

  <%= button_to "Destroy this group", user_group_path(current_user, @group), method: :delete %>
</div>
